notebooks_and_data_and_figures_for_paper/cachedMagnetocosmicsRunData/joblib/AsympDirsCalculator/MAGNETOCOSMICSrun/run_or_get_MAGNETOCOSMICS_cache/85b3dd7afa5d2003634bf12da694777e/output.pkl filter=lfs diff=lfs merge=lfs -text
